@import '../../../assets/styles/variables';

:host {
  display: block;

  footer {
    display: block;
    height: $footer_height;
    border-top: 1px solid rgba(#000000, .3);
    background-color: #ffffff;
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
