@import '../../../assets/styles/variables';

:host {
  display: block;

  footer {
    display: block;
    height: $footer_height;
    background-color: #151515;
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
