:host {
  min-height: inherit;
  #home {
    display: flex;
    min-height: inherit;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    .person {
      &__details {
        max-width: 700px;
        width: 90%;
        margin-top: -120px;
      }
      &__name {
        margin-bottom: 16px;
        font-weight: 300;
      }
      &__ocupations {
        margin-top: 0;
      }
      &__fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      &__social-media {
        margin-top: 2rem;
        a {
          &:visited {
            color: inherit;

            em {
              color: inherit;
            }
          }
        }
      }
    }
  }
}
