<div id="home">
  <div class="person__details" @listAnimationUp>

    <h1 class="person__name text-center color-light">{{ person.name }}</h1>

    <h4 class="person__ocupations text-center color-light">{{ person.ocupations.join(' | ') }}</h4>

    <div class="person__fields" *ngIf="person.fields">
      <app-badge
        *ngFor="let field of person.fields"
        [text]="field"
        [type]="badgeType">
      </app-badge>
    </div>

    <!-- <div *ngIf="person.descriptions" class="person__description">
      <p *ngFor="let desc of person.descriptions"
        class="color-light">
        {{ desc }}
      </p>
    </div> -->

    <div class="person__social-media text-center" *ngIf="person.socialMedia">
      <a class="person__social-media__item color-light"
        *ngFor="let item of person.socialMedia"
        [href]="item.url"
        target="_blank">
        <em [class]="item.iconClass"></em>
      </a>
    </div>

  </div>
</div>
