<header id="header" [ngClass]="{'bg-on': headerChange}">
  <div class="logo-container">
    <h1 class="logo">agapox</h1>
  </div>
  <nav id="navbar" role="navigation" aria-label="Main">
    <ul>
      <li *ngFor="let nav of navbarItems; let i = index" routerLinkActive="menu-active">
        <a [routerLink]="[nav.url]">
          {{ nav.name }}
        </a>
      </li>
    </ul>
  </nav>
  <nav id="navbar-mobile" role="navigation" aria-label="Main">
    <a (click)="toggleMobileMenu()">
      <em class="fas fa-bars fa-lg"></em>
    </a>
    <div class="backdrop" [ngClass]="{ 'active': mobileMenuOpen }" (click)="toggleMobileMenu()"></div>
    <div class="navbar__menu" [ngClass]="{ 'open': mobileMenuOpen }">
      <a class="btn-close-menu" (click)="toggleMobileMenu()">
        <em class="fas fa-times fa-lg"></em>
      </a>
      <ul>
        <li *ngFor="let nav of navbarItems" routerLinkActive="menu-active" [routerLink]="[nav.url]">
          {{ nav.name }}
        </li>
      </ul>
    </div>
  </nav>
</header>
