@import '../../../assets/styles/variables.scss';
:host {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 8px 16px;
    border-bottom: 1px solid rgb(255, 255, 255, .2);
    max-height: 70px;
    position: fixed;
    z-index: 999;
    transition: background-color .227s ease-out;
    &.bg-on {
      background-color: rgba(0, 0, 0, .7);
    }

    .logo {
      font-family: $font_family_alt;
      font-size: 22px;
      color: $color_light;
    }

    nav {
      &#navbar {
        ul {
          margin: 0;
          list-style: none;
          padding: 0;
          li {
            display: inline-block;
            padding: 2px 16px;
            border-bottom: 2px solid transparent;
            background: linear-gradient(to right, $color_main_menu_hover, $color_main_menu_hover 50%, rgba($color_main_menu_hover, .7) 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 275ms ease;
            text-decoration: none;
            &:hover {
              background-position: 0 100%;
            }
            &.menu-active {
              border-color: #ffffff;
              color: #ffffff;
              background-position: 0 100%;
            }
            a {
              color: inherit;
              text-decoration: none;
              font-weight: 700;
              font-family: $font_family_alt;
              &:visited {
                color: inherit;
              }
            }
          }
        }
        @media screen and (max-width: $grid_breakpoints_md) {
          display: none;
        }
      }

      &#navbar-mobile {
        em {
          color: #ffffff;
          cursor: pointer;
        }
        .navbar__menu {
          z-index: 999;
          height: 100vh;
          width: 80%;
          position: absolute;
          top: 0;
          right: -100%;
          background-color: #ffffff;
          transition: right .3s ease-in-out;

          &.open {
            right: 0%;
          }

          .btn-close-menu {
            right: 16px;
            top: 16px;
            position: absolute;
            cursor: pointer;
            em {
              color: #0077ca;
            }
          }
          ul {
            margin: 56px 0 0 0;
            list-style: none;
            padding: 0;
            li {
              padding: 1rem 2rem;
              font-weight: 800;
              color: #0077ca;
              text-decoration: none;
              background-color: #ffffff;
              transition: background-color 5s ease-in-out;
              cursor: pointer;

              &:focus {
                outline: none;
              }
              &.menu-active {
                background-color: #0077ca;
                color: #ffffff;
              }
            }
          }
        }
        @media screen and (min-width: $grid_breakpoints_md) {
          display: none;
        }
      }
    }
  }

  .backdrop {
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
      transition: opacity .3s ease-in-out;
    }
  }
}
