:host {
  display: inline-flex;
  @mixin fontStyles {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  .badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 12px 3px;
    border: 2px solid #dedede;
    border-radius: 500px;

    @include fontStyles();

    span {
      @include fontStyles();
    }
  }
}
