@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;


  h1 {
    color: $color_light;
  }

  a {
    cursor: pointer;
    em {
      color: $color_light;
    }
  }
}
