@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  $colors: #008bff, #53418c;
  background: linear-gradient(136deg, $colors) 0% 0%/100% 110%;
  padding-top: 70px;

  #about {

    color: $color-light;

    app-card {
      margin-bottom: 2rem;
    }
    .about {
      &__profile {
        display: flex;

        &__card {
          color: $color-font;
          background-color: $color-light;
          // padding: 32px;
          grid-template-columns: 150px 1fr;
          grid-gap: 24px;
          width: auto;
          overflow: hidden;
          @media screen and (max-width: $grid-breakpoints-md) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 24px;
          }

          h5, p {
            margin: 0 0 8px 0;
          }

        }
        &-img {
          overflow: hidden;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #114a92;
          padding: 0 32px;
          @media screen and (max-width: $grid-breakpoints-md) {
            padding: 32px;
            justify-content: center;
            height: unset;
            width: 100%;
          }

          img {
            border: 3px solid #1b3284;
            // box-shadow: 0 0 14px rgba(0, 0, 0, .4);
            width: 150px;
            height: auto;
            border-radius: 50%;
            -webkit-filter: saturate(0.6);
            filter: saturate(0.6);
          }
        }
        &-details {
          padding: 32px 32px 32px 16px;

          @media screen and (max-width: $grid-breakpoints-md) {
            width: 100%;
            padding: 0 24px 24px;
          }

          @media screen and (max-width: $grid-breakpoints-xs) {
            width: 100%;
            padding: 0 16px 16px;
          }

          .role {
            em {
              width: 18px;
              margin-right: 8px;
              color: #1f6fd4;
            }
          }
        }
      }
      &__summary {
        app-card {
          color: $color-font;
          background-color: $color-light;
          padding: 32px;
          display: block;

          h3 {
            margin-top: 0;
          }

          @media screen and (max-width: $grid-breakpoints-md) {
            padding: 24px;
          }
          @media screen and (max-width: $grid-breakpoints-xs) {
            padding: 16px;
          }
        }

        &.hobbies {
          background-color: darken($color_light, 10%);
          padding: 32px 16px;
          color: $color_font;

          .hobbies__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 32px;
            @media screen and (max-width: $grid-breakpoints-xxl) {
              grid-template-columns: 1fr 1fr 1fr;
            }
            @media screen and (max-width: $grid-breakpoints-lg) {
              grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: $grid-breakpoints-md) {
              grid-template-columns: 1fr;
              grid-gap: 16px;
            }

            app-card {
              $color1: rgba(25,36,122,1);
              $color2: rgba(30,73,148,1);
              $color3: rgba(70,37,153,1);
              $angle: 255deg;
              background: rgba(25,36,122,1);
              background: -moz-linear-gradient($angle, #{$color1} 0%, #{$color2} 42%, #{$color3} 100%);
              background: -webkit-linear-gradient($angle, #{$color1} 0%, #{$color2} 42%, #{$color3} 100%);
              background: linear-gradient($angle, #{$color1} 0%, #{$color2} 42%, #{$color3} 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$color1}",endColorstr="#{$color3}",GradientType=1);
              color: $color_light;
              margin-bottom: 1rem;

              h5 {
                margin: 0;
              }

              .hobby__img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
