@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;

  #about {

    color: $color-light;

    app-card {
      margin-bottom: 2rem;
    }
    .about {

      &__summary {

        &.description {
          padding-top: 3rem;
          padding-bottom: 4rem;
          background-color: #f4f4f4;
        }

        app-card {
          color: $color_font;
          background-color: $color-light;
          padding: 32px;
          display: block;

          h3 {
            margin-top: 0;
          }

          @media screen and (max-width: $grid_breakpoints_md) {
            padding: 24px;
          }
          @media screen and (max-width: $grid_breakpoints_xs) {
            padding: 16px;
          }
        }

        &.hobbies {
          padding-top: 32px;
          padding-bottom: 32px;

          .hobbies__list {
            // display: grid;
            // grid-template-columns: repeat(4, 1fr);
            // grid-template-rows: masonry;
            // grid-gap: 32px;

            column-count: 4;
            column-gap: 32px;

            @media screen and (max-width: $grid_breakpoints_xxl) {
              // grid-template-columns: repeat(3, 1fr);
              column-count: 3;
            }
            @media screen and (max-width: $grid_breakpoints_lg) {
              // grid-template-columns: repeat(2, 1fr);
              column-count: 2;
            }
            @media screen and (max-width: $grid_breakpoints_sm) {
              // grid-template-columns: 1fr;
              column-count: 1;
              column-gap: 16px;
            }
          }
        }
      }
    }
  }
}
