:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  $colors: #008bff, #53418c;
  background: linear-gradient(136deg, $colors) 0% 0%/100% 110%;
  padding-top: 70px;

  #about {

  }
}
