<app-header></app-header>
<div id="about">

  <div class="container">
    <h1 class="text-weight--light color-light">
      About me
    </h1>
  </div>
  <div class="about__profile container">
    <app-card class="about__profile__card">
      <div class="about__profile-img">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQE2ZfGKPdxYvw/profile-displayphoto-shrink_800_800/0/1615221953948?e=1622678400&v=beta&t=YGXjXunsib3F3jMCQuzTh-4KBSD_HQXLSybpkDPmKuc" alt="Profile Picture">
      </div>
      <div class="about__profile-details">
        <h5>
          <span class="text-weight--regular">
            My name is
          </span>
          {{ profile.name }}.
        </h5>
        <p class="text-weight--regular">I'm {{ profile.age }} years old.</p>
        <p class="text-weight--regular">Preferred job positions are:</p>
        <p *ngFor="let role of profile.roles" class="text-weight--semibold role">
          <em [class]="role.icon"></em>{{ role.name }}
        </p>
        <p>
        </p>
      </div>
    </app-card>
  </div>
  <div class="about__summary container">
    <app-card>
      <h3 class="text-weight--light">About me</h3>
      <p *ngFor="let description of profile.descriptions">{{ description }}</p>
    </app-card>
  </div>
  <div class="about__summary hobbies">
    <div class="container">
      <h3 class="text-weight--light">Hobbies</h3>
      <div class="hobbies__list" @listAnimationLeft>
        <app-card *ngFor="let hobby of profile.hobbies" bgColor="gradient-blue">
          <div>
            <h5 class="text-weight--bold">{{ hobby.name }}</h5>
            <p class="">{{ hobby.description }}</p>
            <img class="hobby__img" [src]="hobby.gif" [alt]="hobby.name">
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
