<div id="about">

  <div class="container">
    <h1 class="text-weight--light color-light main-title">
      About
    </h1>
  </div>
  <div class="about__profile container">
    <app-card-business></app-card-business>
  </div>
  <div class="about__summary description">
    <div class="container">
      <app-card>
        <h2 class="text-weight--light text-color--dark main-title">I am ...</h2>
        <p *ngFor="let description of profile.descriptions">{{ description }}</p>
      </app-card>
    </div>
  </div>
  <div class="about__summary hobbies">
    <div class="container">
      <h2 class="text-weight--light text-color--light main-title">Hobbies</h2>
      <div class="hobbies__list" @listAnimationLeft>
        <app-card-hobbies
          [hobby]="hobby"
          *ngFor="let hobby of profile.hobbies">
        </app-card-hobbies>
      </div>
    </div>
  </div>
</div>
