/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables';
@import './assets/styles/text';
@import './assets/styles/helpers';
@import './assets/styles/mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
  max-width: 1400px;
  @media screen and (max-width: $grid-breakpoints-xxl) {
    max-width: 1200px;
  }
}
