$color_light: #ffffff;
$color_dark: #303030;

$color-font: $color_dark;


$grid-breakpoints-xs: 360px;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1400px;

$color_main_menu: $color_dark;
$color_main_menu_active: $color_light;
$color_main_menu_hover: $color_light;
