$color_light: #ffffff;
$color_dark: #303030;
$color_primary: #1562ce;

$color_font: $color_dark;


$grid_breakpoints_xs: 360px;
$grid_breakpoints_sm: 576px;
$grid_breakpoints_md: 768px;
$grid_breakpoints_lg: 992px;
$grid_breakpoints_xl: 1200px;
$grid_breakpoints_xxl: 1400px;

$color_main_menu: $color_dark;
$color_main_menu_active: $color_light;
$color_main_menu_hover: $color_light;
