@import '../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;

  .tech-evo {
    &__list {
      background-color: $color_light;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      padding: 32px;
    }

  }

  svg {
    padding: 4px;
    width: 100%;
    min-height: 300px;
    height: auto;
    .axis {
      stroke: #252525;
      stroke-width: 4px;
    }
  }
}
